# Dependencies
node_modules/

# Env (nunca commitar .env com senhas)
.env
.env.local
.env.*.local

# Build
dist/
.next/
out/

# IDE / OS
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal

# Test
coverage/
.nyc_output/
